{% extends 'base.html' %}

{% block content %}

<div class="card p-3" style="max-width: 37rem;">
  <h4><strong>Hasty Generalization</strong></h4>
  <p> <strong>Insufficient sample.</strong> If some of the member of group D have a quality of E, therefore group B has
    a quality of E.
  </p>
</div>
<br>

<div class="card-colummn mx-auto">
  {% for item in items%}
  <div class="card mb-4 mr-md-auto ml-md-0 ml-auto mr-auto b1" style="max-width: 37rem;">
    <div class="card-body">
      <div class="pb-2 form-inline">
        <strong>
          <div class="text-muted mr-1">anonymous</div>
        </strong>
        <div class="badge badge-pill badge-dark pt-1 mb-1 mr-1">{{item.type}}</div>
        <div class="text-muted">{{item.created}}</div>
      </div>
      <h5 class="card-title"><strong>{{item.item | linebreaksbr}}</strong></h5>
      <div class="text-center">
        <img src="{{ item.image.url}}" alt="connect" class="img-fluid rounded">
      </div>
      <p class="card-text"><small><strong>References: </strong>{{item.description}}</small></p>
    </div>
  </div>
  {%endfor%}
</div>

{% endblock %}